<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="com.dipali.org.myname.Amaezon_Chrome"/>
      <class name="com.dipali.org.myname.Amezon_Edge"/>
      <class name="com.dipali.org.myname.Amezon_Firfox"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
